{% extends 'core/base.html' %}

{% load static %}
{% block title %} Nuevos  Productos | Django CRUD{% endblock %}



{% block content %}

<div class="container mt-4">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Registro nuevos productos</h1>
    </div>
    <div class="row">
        {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Ohhh yeaah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender su solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="" method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="idProducto" class="fw-bold">Código Producto *</label>
                <div class="input-group">
                    {{form.idProducto}}
                </div>
                {{form.idProducto.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="descripcion" class="fw-bold">Descripción *</label>
                <div class="input-group">
                    {{form.descripcion}}
                </div>
                {{form.descripcion.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="precio" class="fw-bold">Precio Unitario $ *</label>
                <div class="input-group">
                    {{form.precio}}
                </div>
                {{form.precio.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="stock" class="fw-bold">Stock *</label>
                <div class="input-group">
                    {{form.stock}}
                </div>
                {{form.stock.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="imagen" class="fw-bold">Imagen</label>
                <div class="input-group">
                    {{form.imagen}}
                </div>
                {{form.imagen.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="marca" class="fw-bold">Marca</label>
                <div class="input-group">
                    {{form.marca}}
                </div>
                {{form.marca.errors}}
            </div>
            <div class="text-center mt-4">
                <input class="btn btn-secondary btn-block py-2" type="submit" id="enviar" value="Registrar">
                <input class="btn btn-warning btn-block py-2" type="reset" id="limpiar" value="Limpiar">
            </div>
            
        </form>
    </div>
</div>



<div class="container mt-4">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Registro nuevos productos</h1>
    </div>
    <div class="row">
        {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Ohhh yeaah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender su solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="" method="POST" id="formularioPc" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="idProductoPC" class="fw-bold">Código ProductoPc *</label>
                <div class="input-group">
                    {{form.idProductoPc}}
                </div>
                {{form.idProductoPc.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="DescripcionPc" class="fw-bold">Descripción *</label>
                <div class="input-group">
                    {{form.DescripcionPc}}
                </div>
                {{form.descripcionPc.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="precio" class="fw-bold">Precio Unitario $ *</label>
                <div class="input-group">
                    {{form.precioPc}}
                </div>
                {{form.precioPc.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="stockPc" class="fw-bold">Stock *</label>
                <div class="input-group">
                    {{form.stockPc}}
                </div>
                {{form.stockPc.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="imagenPc" class="fw-bold">Imagen</label>
                <div class="input-group">
                    {{form.imagenPc}}
                </div>
                {{form.imagenPc.errors}}
            </div>
           
            <div class="text-center mt-4">
                <input class="btn btn-secondary btn-block py-2" type="submit" id="enviar" value="Registrar">
                <input class="btn btn-warning btn-block py-2" type="reset" id="limpiar" value="Limpiar">
            </div>
            
        </form>
    </div>
</div>


<div class="container mt-4">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Registro nuevos productos</h1>
    </div>
    <div class="row">
        {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Ohhh yeaah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender su solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="" method="POST" id="formulariocelular" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="idProductocelular" class="fw-bold">Código Productocelular *</label>
                <div class="input-group">
                    {{form.idProductocelular}}
                </div>
                {{form.idProductocelular.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="Descripcioncelular" class="fw-bold">Descripción *</label>
                <div class="input-group">
                    {{form.Descripcioncelular}}
                </div>
                {{form.descripcioncelular.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="preciocelular" class="fw-bold">Precio Unitario $ *</label>
                <div class="input-group">
                    {{form.preciocelular}}
                </div>
                {{form.preciocelular.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="stockcelular" class="fw-bold">Stock *</label>
                <div class="input-group">
                    {{form.stockcelular}}
                </div>
                {{form.stockcelular.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="imagencelular" class="fw-bold">Imagen</label>
                <div class="input-group">
                    {{form.imagencelular}}
                </div>
                {{form.imagencelular.errors}}
            </div>
           
            <div class="text-center mt-4">
                <input class="btn btn-secondary btn-block py-2" type="submit" id="enviar" value="Registrar">
                <input class="btn btn-warning btn-block py-2" type="reset" id="limpiar" value="Limpiar">
            </div>
            
        </form>
    </div>
</div>


<div class="container mt-4">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Registro nuevos productos</h1>
    </div>
    <div class="row">
        {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Ohhh yeaah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender su solicitud... inténtalo más tarde
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="" method="POST" id="formularioRi" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="idProductoRi" class="fw-bold">Código ProductoRi *</label>
                <div class="input-group">
                    {{form.idProductoRi}}
                </div>
                {{form.idProductoRi.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="DescripcionRi" class="fw-bold">Descripción *</label>
                <div class="input-group">
                    {{form.DescripcionRi}}
                </div>
                {{form.descripcionRi.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="precioRi" class="fw-bold">Precio Unitario $ *</label>
                <div class="input-group">
                    {{form.precioRi}}
                </div>
                {{form.precioRi.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="stockRi" class="fw-bold">Stock *</label>
                <div class="input-group">
                    {{form.stockRi}}
                </div>
                {{form.stockRi.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="imagenRi" class="fw-bold">Imagen</label>
                <div class="input-group">
                    {{form.imagenRi}}
                </div>
                {{form.imagenRi.errors}}
            </div>
          
            <div class="text-center mt-4">
                <input class="btn btn-secondary btn-block py-2" type="submit" id="enviar" value="Registrar">
                <input class="btn btn-warning btn-block py-2" type="reset" id="limpiar" value="Limpiar">
            </div>
            
        </form>
    </div>
</div>


{% endblock %}