.img-logo{
    width: 80px;
    height: 80px;
}

.img-a{
    width: 80px;
    height: 80px;
}


.img-producto{
    width: 100px;
    height: 100px;
}


.img-productopc{
    width: 100px;
    height: 100px;
}

.img-productocelular{
    width: 100px;
    height: 100px;
}


*{
    font-style: italic;
}


  
  .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

 

